{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CYBERNATICS PROTECTOR</title>
</head>
<body bgcolor="#ffefd5">
{% include "heading.html" %}
{% include "sideindex.html" %}
<table align="center" style="margin-top: 2%">
        <tr><th><a href="/createagent/"><button>Create Agent</button></a> </th></tr>
        <tr>    <th ><a href="/editagent/"><button>Update Agent</button></a> </th></tr>
          <tr>    <th ><a href="/caseexchange/"><button>Case Exchange</button></a> </th></tr>
    <tr>     <th ><a href="/viewallagents/"><button>View Agent</button></a> </th>
        </tr>
</table>
</body>
</html>