{% load staticf %}
<!DOCTYPE html>

<html lang="en">
<head>
   <title>CYBERNATICS PROTECTOR</title>
</head>
<body bgcolor="#ffefd5">
{% include "heading.html" %}
{% include "homeindex.html" %}
<font color="green">
<table>
        <tr>
            <td width="1000"><table align="center" border="1">
                <tr> <th>Job</th>
                    <th>Title</th>
                    <th>Qualification</th>
                    <th>Percentage</th>
                    <th>Experience</th>
                    <th>Location</th>
                    <th>Salary</th>
                </tr>
{% for x in data %}
    {% if Job == clerk %}
    <tr>
    <th>{{ x.Job }}</th>
    <th>{{ x.Title }}</th>
    <th>{{ x.Qualification }}</th>
    <th>{{ x.Percentage }}</th>
    <th>{{ x.Experience }}</th>
    <th>{{ x.Location }}</th>
    <th>{{ x.Salary}}</th>
    </tr>
    {% endif %}
{% endfor %}
    </table>
   </td>
  </tr>
</table>
</font>
</body>
</html>