<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CYBERNATICS PROTECTOR</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      <style>
         button{
              border-radius: 12px;
             width: 100%;
            padding: 10px 20px;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<table align="center" style="margin-top: 1%; margin-bottom: 1%">
    <tr>
        <th>
        <a href="/case_creation/">
            <button>Case creation</button>
        </a>
            <th>
        <th>
          <th>
            <a href="/defcasedetails/"><button>Case Details</button></a>
        <th>
        <a href="/defviewagent/"><button>Agent Details</button></a>
    </th>
        <th>
        <a href="/reports_defence/"><button>Reports</button></a>
    </th>
         <th>
            <a href="/suggestions/"><button>Suggestions</button></a>
        <th>
        <th>
            <a href="/defence_logout/"><button>Logout</button></a>
        <th>

</table>
</body>
</html>
</body>
</html>