<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> CYBERNATICS PROTECTOR</title>
    <style>
           button{
              border-radius: 12px;
            width: 100%;
            padding: 10px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>
</head>
<body>
<table align="center" style="margin-top: 1%">
    <tr>
        <th>
            <a href="/allstories/"><button>Add Success Stories</button></a>
        </th>
        <th>
            <a href="/job/"><button>Job posting</button></a>
        </th>
        <th>
            <a href="/viewapplicants/"><button>View Applicants</button></a>
        </th>
        <th>
            <a href="/app_agent/"><button>Appointing agent</button></a>
        </th>
        <th>
            <a href="/agentmanage/"><button>Agent Management</button></a>
        </th>
        <th>
            <a href="/reports_admin/"><button>Reports</button></a>
        </th>
        <th>
            <a href="/admin_logout/"><button>Logout</button></a>
        </th>
    </tr>
</table>
</body>
</html>